.header {

      height:40px;
    display: flex;
    align-items: center;
    justify-content: right;
    color:white;
}

.notification-icon {
    height: 24px;
    cursor: pointer;
}

.notification-icon-container {
    position:relative
}

.notification-count {
    position:absolute;
    top : 0px;
    right:-3px;
    background-color: rgb(200,0,0);
    color: white;
    font-size:  11px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}
.my-profile-photo {
    height:32px;
    border-radius:16px;
    margin-left:35px;
}

.profile-description {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 9px;
    cursor: pointer;
}

